.idea/client.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.log
agent_app/__pycache__/config.cpython-313.pyc
agent_app/__pycache__/server.cpython-313.pyc
