# requirements.txt
# وابستگی‌های پروژه برای ایجنت ویندوزی
pip==25.2
pyinstaller==6.15.0
MetaTrader5==5.0.5200
sv_ttk==2.6.1
pytz==2025.2
schedule==1.2.2
websockets==15.0.1
#logging==0.4.9.6
asyncio==4.0.0
#functools==0.5
websocket_client==1.8.0
# ==================================================================
# File: Mani_FAI_Client/requirements.txt
# Description: فایل نیازمندی‌های پروژه کلاینت.
# تغییر اصلی: افزودن کتابخانه pandas.
# ==================================================================
pandas
numpy