#==================================================================
#File: Mani_FAI_Client/requirements.txt (نسخه نهایی با کافکا)
#==================================================================
pip==25.2
pyinstaller==6.15.0
MetaTrader5==5.0.5200
sv-ttk==2.6.1
pytz==2025.2
schedule==1.2.2
pandas
numpy
aiokafka
aiohttp